body{
	margin-top:120px;
	width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
  overflow-x:hidden;
}

div{
	margin:0;
}
  
@font-face{
	font-family:vcrmono;
	src: url(EIfonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face{
	font-family:courier-new;
	src: url(EIfonts/Courier-New-Regular.ttf);
}
.header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
}
.header a:hover{
	font-weight:900;
	color:rgba(0,0,0,1.0);
	text-shadow: 0 0 32px rgba(255, 255, 255, 1.0);
}
.EIig a{
	  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
}
.EIig a:hover{
text-decoration: underline;
}
	.EIig2 a{
	  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
	}
	.EIig2 a:hover{
	text-decoration: underline;
	}
		.EUig a{
	  text-decoration: none;
  	color: rgba(0, 0, 0, 1.0);
		}
		.EUig a:hover{
		text-decoration: underline;
		}
			.EUig2 a{
	  	text-decoration: none;
  		color: rgba(0, 0, 0, 1.0);
			}
			.EUig2 a:hover{
			text-decoration: underline;
			}
					.DPig a{
				  text-decoration: none;
			  	color: rgba(0, 0, 0, 1.0);
					}
					.DPig a:hover{
					text-decoration: underline;
					}
						.DPig2 a{
					  text-decoration: none;
				  	color: rgba(0, 0, 0, 1.0);
						}
						.DPig2 a:hover{
						text-decoration: underline;
						}
							.KNig a{
						  text-decoration: none;
					  	color: rgba(0, 0, 0, 1.0);
							}
							.KNig a:hover{
							text-decoration: underline;
							}

.button a{

}
a:visited{
	display: none;
}
.LLkern{
	letter-spacing: -3pt;
}
.header{
 	height:120px;
 	color:white;
 	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	background-image: linear-gradient(180deg, rgba(255, 87, 148, 1.0)/*magenta*/,rgba(255, 255, 255, 1.0));
  	z-index: 100;
}
#nav{
	float: left;
	margin-left: 20px;
	margin-top:45px;
	width: 600px;
	font-family: vcrmono;
	font-weight:normal;
	color:rgba(0,0,0,1.0);

}
#corner-logo{
	float: left;
	margin: 20px;

}
.video-position{
	position: relative;
	margin: 0;
	padding:0;

}
#title{
	  text-align: center;
	  position:relative;
       font-family:vcrmono;
       font-size: 150pt;
       top:-700px;
       left:200 px;
       color: rgba(255, 255, 255, 1.0);
       filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1.0)); /* shadow is created with class*/

}

#video-container{
	height:963px;
	width:;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(252, 159, 49, 1.0) /*orange*/,rgba(255, 255, 255, 1.0))
}
#aboutnav{
	height:1800px;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(134, 232, 88, 1.0) /*green*/, rgba(255, 255, 255, 1.0));
 /*green*/
}

.EIig{
	font-family: vcrmono;
	font-size: 12pt;
	position: relative;
	top: 38px;
	left: -10px;
	transform: rotate(30deg) skew(30deg);
	 opacity: 0; 
 visibility: hidden; 
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear; 
}


#grid-container{
	width: 1300px;
	height:575px;
	margin: 0 auto;
	left:120px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid template-rows: repeat(1,1fr);
}

.grid-item1{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:7;
	transition: 0.5s;
		margin-top: 220px;
}
.grid-item1:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}
.grid-item1:hover div{
	 visibility: visible; 
 opacity: 1; 
}

.EIig2{
	font-family: vcrmono;
	font-size: 12pt;
	position: relative;
	top: 38px;
	left: -10px;
	transform: rotate(30deg) skew(30deg);
	 opacity: 0; 
 visibility: hidden; 
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear; 
}

.grid-item2{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:6;
	transition: 0.5s;
		margin-top: 220px;
}
.grid-item2:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px) translateX(20px);
}

.grid-item2:hover div{
	 visibility: visible; 
 opacity: 1; 
}

.EUig{
	font-family: vcrmono;
	font-size: 12pt;
	position: relative;
	top: 38px;
	left: -10px;
	transform: rotate(30deg) skew(30deg);
	 opacity: 0; 
 visibility: hidden; 
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear; 
}
.grid-item3{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:5;
		margin-top: 220px;
		transition: 0.5s;
}
.grid-item3:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}

.grid-item3:hover div{
	 visibility: visible; 
 opacity: 1; 
}
.DPig{
	font-family: vcrmono;
	font-size: 12pt;
	position: relative;
	font-kerning: auto;
	top: 38px;
	left: -10px;
	transform: rotate(30deg) skew(30deg);
	 opacity: 0; 
 visibility: hidden; 
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear; 
}
.grid-item4{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:4;
		margin-top: 220px;
		transition: 0.5s;
}
.grid-item4:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}
.grid-item4:hover div{
	 visibility: visible; 
 opacity: 1; 
}
.EUig2{
	font-family: vcrmono;
	font-size: 12pt;
	position: relative;
	top: 38px;
	left: -10px;
	transform: rotate(30deg) skew(30deg);
	 opacity: 0; 
 visibility: hidden; 
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear; 
}
.grid-item5{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:3;
	margin-top: 220px;
	transition: 0.5s;
}
.grid-item5:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}
.grid-item5:hover div{
	 visibility: visible; 
 opacity: 1; 
}
.DPig2{
	font-family: vcrmono;
	font-size: 12pt;
	position: relative;
	font-kerning: auto;
	top: 38px;
	left: -10px;
	transform: rotate(30deg) skew(30deg);
	 opacity: 0; 
 visibility: hidden; 
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear; 
}
.grid-item6{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:2;
margin-top: 220px;
transition: 0.5s;
}
.grid-item6:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}
.grid-item6:hover div{
	 visibility: visible; 
 opacity: 1; 
}
.KNig{
	font-family: vcrmono;
	font-size: 12pt;
	position: relative;
	font-kerning: auto;
	top: 38px;
	left: -10px;
	transform: rotate(30deg) skew(30deg);
	 opacity: 0; 
 visibility: hidden; 
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear; 
}
.grid-item7{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:1;
	margin-top: 220px;
	transition: 0.5s;
}
.grid-item7:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}
.grid-item7:hover div{
	 visibility: visible; 
 opacity: 1; 
}

#enya-drew-logo{
text-align: center;
	  position:relative;
       top:260px;
       left:200 px;
}

.about-text{
	text-align: center;
	  position:relative;
	  top:20px;
       padding: 300px;

       font-family: courier-new;
       font-weight: normal;
       font-size:24pt;
       line-height: 46pt;
       letter-spacing: pt;
}
.about-em{
	 font-family: vcrmono;
       font-weight: normal;
       font-size:24pt;
}
.about-em2{

	 background-color: rgba(255, 255, 255, 0.0);
  color: black;
  border: 1px solid rgba(0, 0, 0, 1.0);
    font-family: courier-new;
       font-weight: normal;
       font-size:24pt;
       line-height: 40pt;
       letter-spacing: pt;
  border-radius: 40px;
  padding: 6px 18px 6px 18px;
}

#librarynav{
	height:900px;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(255, 211, 58, 1.0) /*yellow*/, rgba(255, 255, 255, 1.0))

}

#library{
	text-align: center;
	  position:relative;
       font-family:vcrmono;
       font-size: 100pt;
       top:200px;
       left:200 px;
       color: rgba(0, 0, 0, 1.0);
}
button{
	all:unset;
}
.button-section{
	text-align: center;
	margin-top:300px;

}

.button1 a{
	  background-color: rgba(255, 255, 255, 0.0);
  color: black;
  border: 1px solid rgba(0, 0, 0, 1.0);
  font-family: courier-new;
  font-weight: normal;
  font-size: 20pt;
  border-radius: 30px;
  padding: 10px 30px;
  margin:15px;
  text-decoration: none;
  line-height: 84px;
}

.button1 a:hover{
	background-color: rgba(252, 159, 49, 1.0);

}
#the-drewth-nav{
	height:1100px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 87, 148, 1.0)/*magenta*/,rgba(255, 255, 255, 1.0))
}
.extra{
	background: rgba(0, 0, 0, 0.0);
}
.drewth-line{
	position: relative;
	text-align: center;
	top:150px;
	height: 60px;
}

.drewth-container{
		width: 100%;
height:100%;
position: relative;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid template-rows: repeat(1,1fr);
	overflow-x: scroll;
	scroll-behavior: smooth;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.Lbutton{
	position: relative;
		margin-top: -830px;
	text-align: left;
		z-index: 15;
		width:100px;
		height:200px;
}
.Rbutton{
	position: relative;

	margin: -180px 0 0 auto;
text-align: right;
		z-index: 15;
			width:100px;
		height:200px;
}
.icon-left{
	color: rgba(255, 255, 255, 1.0);
	font-size: 70px;
	padding: 30px;
	cursor:pointer;
	transition: 0.5s
}
.icon-left:hover{
	transform: scale(1.3)
}
.icon-right {
	color: rgba(255, 255, 255, 1.0);
	font-size: 70px;
	padding: 30px;
	cursor:pointer;
	transition: 0.5s

}
.icon-right:hover{
	transform: scale(1.3)
}

.epnom-magenta{
	font-family: vcrmono;
	font-size: 12pt;
	position: relative;
	top: 60px;
	left: 0px;
	width: 130px;
	transform: rotate(30deg) skew(30deg);
	 opacity: 0; 
	 text-align: center;
 visibility: hidden; 
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear;
   border: 1px solid rgba(0, 0, 0, 1.0);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: linear-gradient(0deg, rgba(255, 87, 148, 1.0)/*magenta*/,rgba(255, 255, 255, 1.0));
  padding: 6px;
}
.eptitle{
	font-family: vcrmono;
	font-size: 12pt;
	position: relative;
	top: -95px;
	left: -15px;
	height: 100px;
width:330px;
	transform: rotate(30deg) skew(30deg);
	 opacity: 0; 
	 text-align: right;
 visibility: hidden; 
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear;
}
.timestamp{
	font-family: vcrmono;
	font-size: 8pt;
	position: relative;
	top: -50px;
	left: 250px;
	 opacity: 0; 
	 width: 35px;
	 text-align: center;
 visibility: hidden; 
 	transform: rotate(30deg) skew(30deg);
 -webkit-transition: visibility 0s, opacity 0.5s linear;  
 transition: visibility 0s, opacity 0.5s linear;
  border: 1px solid rgba(0, 0, 0, 0.0);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px;
}

.topic-header{
	font-family: vcrmono;
	font-size: 25pt;
	position: relative;
		margin-top: 110px;
	text-align: left;
	left: 55px;
		z-index: 15;
		width:300px;
		height:100pxpx;
		display: flex;
}
.topic-number{
	font-family: vcrmono;
	font-size: 25pt;
		position: relative;

	margin: -50px -108px 0 auto;
text-align: right;
		z-index: 15;
			width:200px;
		height:200px;
		display: flex;
	}
	.subtopics{
text-align:justify;
	margin-top:-110px;
	margin-left: 45px;
	width:1550px;

}

.button-sub a{
	  background-color: rgba(255, 255, 255, 0.0);
  color: black;
  border: 1px solid rgba(0, 0, 0, 1.0);
  font-family: courier-new;
  font-weight: normal;
  font-size: 12pt;
  border-radius: 20px;
  padding: 8px 10px;
  margin:10px;
  text-decoration: none;
  line-height: 18px;
  text-align: justify;
}

.button-sub a:hover{
	background-color: rgba(255, 255, 255, 1.0);

}
.drewth-thumbnail1{
		width: 250px;
	height: 150px;
	display: flex;
	z-index:8;
	transition: 0.5s;
		margin-top: 160px;
				transition: 0.5s;
}
.drewth-thumbnail1:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-50px)translateX(50px);
}
.drewth-thumbnail1:hover div{
		 visibility: visible; 
 opacity: 1; 
}
		.drewth-thumbnail2{
			width: 250px;
		height: 150px;
		display: flex;
		z-index:7;
		transition: 0.5s;
			margin-top: 160px;
				transition: 0.5s;
}
.drewth-thumbnail2:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-50px)translateX(50px);
}
.drewth-thumbnail2:hover div{
		 visibility: visible; 
 opacity: 1; 
}
			.drewth-thumbnail3{
				width: 250px;
			height: 150px;
			display: flex;
			z-index:6;
			transition: 0.5s;
				margin-top: 160px;
				transition: 0.5s;
}
.drewth-thumbnail3:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-50px)translateX(50px);
}
.drewth-thumbnail3:hover div{
		 visibility: visible; 
 opacity: 1; 
}
				.drewth-thumbnail4{
				width: 250px;
			height: 150px;
			display: flex;
			z-index:5;
			transition: 0.5s;
				margin-top: 160px;
				transition: 0.5s;
}
.drewth-thumbnail4:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-50px)translateX(50px);
}
.drewth-thumbnail4:hover div{
		 visibility: visible; 
 opacity: 1; 
}
					.drewth-thumbnail5{
					width: 250px;
				height: 150px;
				display: flex;
				z-index:4;
				transition: 0.5s;
					margin-top: 160px;
				transition: 0.5s;
}
.drewth-thumbnail5:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-50px)translateX(50px);
}
.drewth-thumbnail5:hover div{
		 visibility: visible; 
 opacity: 1; 
}
						.drewth-thumbnail6{
						width: 250px;
					height: 150px;
					display: flex;
					z-index:3;
					transition: 0.5s;
						margin-top: 160px;
				transition: 0.5s;
}
.drewth-thumbnail6:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-50px)translateX(50px);
}
.drewth-thumbnail6:hover div{
		 visibility: visible; 
 opacity: 1; 
}
							.drewth-thumbnail7{
							width: 250px;
						height: 150px;
						display: flex;
						z-index:2;
						transition: 0.5s;
							margin-top: 160px;
				transition: 0.5s;
}
.drewth-thumbnail7:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-50px)translateX(50px);
}
.drewth-thumbnail7:hover div{
		 visibility: visible; 
 opacity: 1; 
}
								.drewth-thumbnail8{
								width: 250px;
							height: 150px;
							display: flex;
							z-index:1;
							transition: 0.5s;
								margin-top: 160px;
				transition: 0.5s;
}
.drewth-thumbnail8:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-50px)translateX(50px);
}
.drewth-thumbnail8:hover div{
		 visibility: visible; 
 opacity: 1; 
}

									.end{
											opacity:0.0;
										width: 150px;
																height: 150px;
																display: flex;
																z-index:0;
											
																	margin-top: 220px;
		
}
#trauma-dump-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(252, 159, 49, 1.0) /*orange*/,rgba(255, 255, 255, 1.0))
 }

#alcohol-and-drug-abuse-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(134, 232, 88, 1.0) /*green*/, rgba(255, 255, 255, 1.0))
}

#conspiracy-theories-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 211, 58, 1.0) /*yellow*/, rgba(255, 255, 255, 1.0))
 }

#childhood-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 87, 148, 1.0)/*magenta*/,rgba(255, 255, 255, 1.0))
}
#special-guests-episodes-nav{
	height:900px;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(252, 159, 49, 1.0) /*orange*/,rgba(255, 255, 255, 1.0))
 }

#holiday-episodes-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(134, 232, 88, 1.0) /*green*/, rgba(255, 255, 255, 1.0)) /*green*/
}

#zoom-episodes-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 211, 58, 1.0) /*yellow*/, rgba(255, 255, 255, 1.0))
}

#merchandisenav{
	height:1000px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 87, 148, 1.0)/*magenta*/,rgba(255, 255, 255, 1.0))
}
#eventsnav{
	height:2000px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(134, 232, 88, 1.0) /*green*/, rgba(255, 255, 255, 1.0)) /*green*/
}
.footer{height:110px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 211, 58, 1.0) /*yellow*/)

}

















