body{
	margin-top:120px;
	width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
  overflow-x:hidden;
}

div{
	margin:0;
}
  
@font-face{
	font-family:vcrmono;
	src: url(EIfonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face{
	font-family:courier-new;
	src: url(EIfonts/Courier-New-Regular.ttf);
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
}
a:hover{
	font-weight:900;
	color:rgba(0,0,0,1.0);
	text-shadow: 0 0 32px rgba(255, 255, 255, 1.0);
}
a:visited{
	color:rgba(0,0,0,1.0)
}
.header{
 	height:120px;
 	color:white;
 	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	background-image: linear-gradient(180deg, rgba(255, 87, 148, 1.0)/*magenta*/,rgba(255, 255, 255, 1.0));
  	z-index: 100;
}
#nav{
	float: left;
	margin-left: 20px;
	margin-top:45px;
	width: 600px;
	font-family: vcrmono;
	font-weight:normal;
	color:rgba(0,0,0,1.0);

}
#corner-logo{
	float: left;
	margin: 20px;

}
.video-position{
	position: relative;
	margin: 0;
	padding:0;

}
#title{
	  text-align: center;
	  position:relative;
       font-family:vcrmono;
       font-size: 150pt;
       top:-700px;
       left:200 px;
       color: rgba(255, 255, 255, 1.0);
       filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1.0)); /* shadow is created with class*/

}

#video-container{
	height:963px;
	width:;
 	background: rgba(4, 4, 4, 0.2)
}
#aboutnav{
	height:1950px;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(134, 232, 88, 1.0) /*green*/, rgba(255, 255, 255, 1.0));
 /*green*/
}

#grid-container{
	width: 1200px;
	height:550px;
	margin: 0 auto;
	left:120px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid template-rows: repeat(1,1fr);
}

.grid-item1{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:7;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
	transition: 0.5s;
		margin-top: 230px;
}
.grid-item1:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}

.grid-item2{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:6;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
	transition: 0.5s;
		margin-top: 230px;
}
.grid-item2:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px) translateX(20px);

}
.grid-item3{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:5;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
		margin-top: 230px;
		transition: 0.5s;
}
.grid-item3:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}
.grid-item4{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:4;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
		margin-top: 230px;
		transition: 0.5s;
}
.grid-item4:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}
.grid-item5{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:3;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
	margin-top: 230px;
	transition: 0.5s;
}
.grid-item5:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}
.grid-item6{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:2;
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
margin-top: 230px;
transition: 0.5s;
}
.grid-item6:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}
.grid-item7{
	width: 150px;
	height: 150px;
	display: flex;
	z-index:1;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
	margin-top: 230px;
	transition: 0.5s;
}
.grid-item7:hover{
	cursor: pointer;
	transform: scale(1.3) translateY(-100px)translateX(20px);
}

#enya-drew-logo{
text-align: center;
	  position:relative;
       top:260px;
       left:200 px;
}

.about-text{
	text-align: center;
	  position:relative;
	  top:20px;
       padding: 300px;

       font-family: courier-new;
       font-weight: normal;
       font-size:28pt;
       line-height: 46pt;
       letter-spacing: pt;
}
.about-em{
	 font-family: vcrmono;
       font-weight: normal;
       font-size:28pt;
}
.about-em2{

	 background-color: rgba(255, 255, 255, 0.0);
  color: black;
  border: 1px solid rgba(0, 0, 0, 1.0);
    font-family: courier-new;
       font-weight: normal;
       font-size:28pt;
       line-height: 40pt;
       letter-spacing: pt;
  border-radius: 40px;
  padding: 6px 18px 6px 18px;
}

#librarynav{
	height:900px;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(255, 211, 58, 1.0) /*yellow*/, rgba(255, 255, 255, 1.0))

}

#library{
	text-align: center;
	  position:relative;
       font-family:vcrmono;
       font-size: 100pt;
       top:200px;
       left:200 px;
       color: rgba(0, 0, 0, 1.0);
}

.button-section{
	text-align: center;
	margin-top:300px
}

.button1{
	  background-color: rgba(255, 255, 255, 0.0);
  color: black;
  border: 1px solid rgba(0, 0, 0, 1.0);
  font-family: courier-new;
  font-weight: normal;
  font-size: 20pt;
  border-radius: 30px;
  padding: 10px 30px;
  margin:15px;

}
.button1:hover{
	background-color: rgba(252, 159, 49, 1.0);
}

#the-drewth-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 87, 148, 1.0)/*magenta*/,rgba(255, 255, 255, 1.0))
}

#trauma-dump-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(252, 159, 49, 1.0) /*orange*/,rgba(255, 255, 255, 1.0))
 }

#alcohol-and-drug-abuse-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(134, 232, 88, 1.0) /*green*/, rgba(255, 255, 255, 1.0))
}

#conspiracy-theories-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 211, 58, 1.0) /*yellow*/, rgba(255, 255, 255, 1.0))
 }

#childhood-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 87, 148, 1.0)/*magenta*/,rgba(255, 255, 255, 1.0))
}
#special-guests-episodes-nav{
	height:900px;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(252, 159, 49, 1.0) /*orange*/,rgba(255, 255, 255, 1.0))
 }

#holiday-episodes-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(134, 232, 88, 1.0) /*green*/, rgba(255, 255, 255, 1.0)) /*green*/
}

#zoom-episodes-nav{
	height:900px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 211, 58, 1.0) /*yellow*/, rgba(255, 255, 255, 1.0))
}

#merchandisenav{
	height:1000px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 87, 148, 1.0)/*magenta*/,rgba(255, 255, 255, 1.0))
}
#eventsnav{
	height:2000px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0),rgba(134, 232, 88, 1.0) /*green*/, rgba(255, 255, 255, 1.0)) /*green*/
}
.footer{height:110px;
 	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.0), rgba(255, 211, 58, 1.0) /*yellow*/)

}

















